[data-path='pages.1'] > div:first-child {
  position: unset;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
  padding: 12px;
  row-gap: 6px;
}

[data-path='pages.1'] > div:first-child div {
  background-color: var(--primary-color);
}

[data-block='@appsemble/markdown'] {
  margin-top: 20px;
  max-width: 480px;
  margin: 0 auto;
}
